exportPattern("^[[:alpha:]]+")
exportMethods(
    "initialize",
    "pop",
    "push",
    "show" 
)
exportClasses(
    "AbstractStack",
     "EnvStack",
     "Stack",
     "ListStack",
     "SingletonStack" 
)
