exportPattern("^[[:alpha:]]+")
exportMethods(
    "initialize",
    "pop",
    "push",
    "show" 
)
exportClasses(
    "AbstractHeap",
     "EnvHeap",
     "Heap",
     "ListHeap",
     "SingletonHeap" 
)
